.header 
      .profile-box 
        img.op-profile-pic(src="./node/public/op-profile-pic0.png")  
        .op-profile-label 
            .welcome-natty  welcome,
                span.welcome-natty-span2 Natty
      .nav 
        .users-button 
          img.frame(src="", alt="")
          .users Users
        .vehicles Vehicles
        .transaction Transaction
      .log-out-box 
        .log-out logOut
          img.logout-icon(src="", alt="", srcset="")