Doctype= Html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='css/vars.css')
    link(rel='stylesheet' href='css/style.css')
    title Document
  body
    include _header
    block content
    .home
      .main
        .left-container
          .search-box
            .frame-271
              img.frame2(src='' alt='')
              .search-here search here
          .user-container 
            .top-header 
              .users2 Users
              button.frame3 
                .add add
                img.vector4(src='add-icon')
            .table-user 
              .table-head 
                .username-or-email UserID
                .username-or-email Name
                .username-or-email Email
                .username-or-email Phon
                .username-or-email Address
                .username-or-email VehicleID
                .username-or-email Balance
              .table-body 
                .username-or-email2 UID
                .username-or-email2 full name
                .username-or-email2 full name
                .username-or-email2 full name
                .username-or-email2 full name
                .username-or-email2 full name
                .username-or-email2 full name
        .right-container
          .user-profile-box 
            .user-pic 
              .frame-371 
                .ellipse-22(src="./public/img/ellipse-220.png")  
          .user-detail-box 
            .detail-label 
              .all-details All details
            .detail-container 
              .uid 
                .frame-262 
                  .uid2 UID
                .frame-263 
                  .sample= me
              .name 
                .frame-262 
                  .name2 Name
                .frame-263 
                  .gg-74873-yhhvhc gg74873yhhvhc
              .vehicle-id 
                .frame-2622 
                  .vehicle-id2 VehicleID
                .frame-263 
                  .gg-74873-yhhvhc gg74873yhhvhc
              .balance 
                .frame-2622 
                  .balance2 Balance
                .frame-263 
                  ._2-000-etb 2,000 ETB
              .status 
                .frame-2622 
                  .status2 Status
                .frame-263 
                  .access-granted access granted
    //- script(src='app.js')

