a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  appearance: none;
  background: none;

  -webkit-font-smoothing: antialiased;
}

.home,
.home * {
  box-sizing: border-box;
}
.home {
  background: rgb(240 240 240);
  padding: 0px 32px 8px 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.header {
  background: #ffffff;
  padding: 8px 64px 8px 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  position: relative;
}
.profile-box {
  display: flex;
  flex-direction: row;
  gap: 14.67px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.op-profile-pic {
  border-radius: 50%;
  border-style: solid;
  border-color: #1964d4;
  border-width: 1.64px;
  flex-shrink: 0;
  width: 59px;
  height: 59px;
  position: relative;
}
.op-profile-label {
  display: flex;
  flex-direction: column;
  gap: 4.89px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-325 {
  display: flex;
  flex-direction: row;
  gap: 9.78px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.welcome-natty {
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
  position: relative;
}
.welcome-natty-span {
  color: #080d27;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
}
.welcome-natty-span2 {
  color: #1964d4;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 32px;
  font-weight: 600;
}
.nav {
  border-radius: 32px;
  padding: 8px 10px 8px 10px;
  display: flex;
  flex-direction: row;
  gap: 38px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  min-width: 512px;
  position: relative;
}
.users-button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.active {
  background: rgba(25, 100, 212, 0.15);
  border-radius: 24px;
  font-size: 20px;
  border-style: solid;
  border-color: rgba(25, 100, 212, 0.2);
  border-width: 1px;
  padding: 4px 12px 4px 12px;
}
.users-icon,
.vehicle-icon,
.transaction-icon,
.logout-icon {
  width: 25.5px;
  height: 20.4px;
  color: #1964d4;
}
.users {
  color: #000000;
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vehicles {
  color: #000000;
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 20.5px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.transaction {
  color: #000000;
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 20.5px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.log-out-box {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.log-out {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #000000;
  text-align: left;
  font-family: "Roboto-SemiBold", sans-serif;
  font-size: 20.5px;
  font-weight: 600;
  position: relative;
  text-decoration: none;
}
.trash-icon {
  margin-left: 30%;
  color: #ff36bc;
  font-size: 18px;
}
.trash-icon:hover {
  color: rgb(221, 66, 89);
}
.logout-icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  overflow: visible;
}
.main {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.left-container {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.search-box {
  background: transparent;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-271 {
  padding: 32px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.search-here {
  color: rgba(0, 0, 0, 0.4);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}
.user-container,
.vehicles-container,
.transactions-container {
  background: #ffffff;
  border-radius: 32px;
  padding: 24px 32px 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 6.13px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.top-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.users2 {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 28px;
  font-weight: 500;
  position: relative;
}
.add-btn,
.edit-btn {
  display: flex;
  background: rgba(25, 100, 212, 0.15);
  border-radius: 32px;
  border-style: solid;
  border-color: rgba(25, 100, 212, 0.8);
  border-width: 1px;
  padding: 4px 10px 4px 10px;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.edit-btn {
  position: fixed;
  right: 5%;
  top: 100px;
  font-weight: 500;
  z-index: 3;
}
.edit-btn:hover {
  cursor: pointer;
  background: #1964d43b;
}
.edit-icon {
  color: #1964d4;
}
.add {
  color: #000000;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}
.add-icon {
  font-size: 18px;
  color: #1964d4;
}
.table-user {
  border-radius: 7.61px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.table-head {
  background: #1964d4;
  border-radius: 16px 16px 2px 2px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 21px 12px 0px rgba(25, 100, 212, 0.03);
}
.username-or-email {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.table-body {
  background: rgba(25, 100, 212, 0.05);
  border-radius: 0px 0px 12px 12px;
  padding: 15.5px 16px 15.5px 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.username-or-email2 {
  color: rgba(0, 0, 0, 0.52);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16.5px;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.right-container {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 368px;
  position: relative;
}
/* .upload-icon {
  position: absolute;
  top: 92px;
  left: 37%;
  font-size: 37px;
  color: white;
  z-index: 9;
} */
.black-upload-bg {
  border-radius: 50%;
  position: absolute;
  top: 1%;
  left: 0%;
  background: #00000075;
  width: 147.5px;
  height: 153px;
  z-index: 2;
}
.user-profile-box {
  background: #ffffff;
  border-radius: 24px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.user-pic {
  padding: 12px 0px 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-371 {
  display: flex;
  flex-direction: row;
  gap: 8.74px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.drivers-pic {
  border-radius: 50%;
  flex-shrink: 0;
  width: 148.5px;
  height: 152px;
  position: relative;
}
.user-detail-box {
  background: #ffffff;
  border-radius: 16px;
  padding: 24px 32px 24px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px -4.5px 30px 0px rgba(0, 0, 0, 0.09);
}
.detail-label {
  display: flex;
  flex-direction: row;
  gap: 6.13px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.all-details {
  color: #1964d4;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 20px;
  line-height: 16.85px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.detail-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.uid {
  display: flex;
  flex-direction: row;
  gap: 28px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-262 {
  width: 58px;
  display: flex;
  flex-direction: row;
  gap: 6.13px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.uid2 {
  color: #080d27;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18.861549377441406px;
  line-height: 16.85px;
  font-weight: 500;
  position: relative;
}
.frame-263 {
  background: rgba(0, 0, 0, 0.01);
  border-radius: 6.13px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.05);
  border-width: 1.53px;
  padding: 12.26px;
  display: flex;
  flex-direction: row;
  gap: 218.5px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.gg-74873-yhhvhc {
  color: rgba(8, 13, 39, 0.4);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16.167043685913086px;
  line-height: 16.85px;
  font-weight: 500;
  position: relative;
}
.name {
  display: flex;
  flex-direction: row;
  gap: 10.78px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.name2 {
  color: #080d27;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18.861549377441406px;
  line-height: 16.85px;
  font-weight: 500;
  position: relative;
}
.phone {
  display: flex;
  flex-direction: row;
  gap: 10.78px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2622 {
  display: flex;
  flex-direction: row;
  gap: 6.13px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.phone2 {
  color: #080d27;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18.861549377441406px;
  line-height: 16.85px;
  font-weight: 500;
  position: relative;
}
.address {
  display: flex;
  flex-direction: row;
  gap: 10.78px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.address2 {
  color: #080d27;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18.861549377441406px;
  line-height: 16.85px;
  font-weight: 500;
  position: relative;
}
.vehicle-id {
  display: flex;
  flex-direction: row;
  gap: 10.78px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.vehicle-id2 {
  color: #080d27;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18.861549377441406px;
  line-height: 16.85px;
  font-weight: 500;
  position: relative;
}
.balance {
  display: flex;
  flex-direction: row;
  gap: 10.78px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.balance2 {
  color: #080d27;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18.861549377441406px;
  line-height: 16.85px;
  font-weight: 500;
  position: relative;
}
._2-000-etb {
  color: rgba(8, 13, 39, 0.4);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16.167043685913086px;
  line-height: 16.85px;
  font-weight: 500;
  position: relative;
  width: 116px;
}
.status {
  display: flex;
  flex-direction: row;
  gap: 10.78px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.status2 {
  color: #080d27;
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 18.861549377441406px;
  line-height: 16.85px;
  font-weight: 500;
  position: relative;
}
.access-granted {
  color: rgba(8, 13, 39, 0.4);
  text-align: left;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16.167043685913086px;
  line-height: 16.85px;
  font-weight: 500;
  position: relative;
  width: 116px;
}
table.dataTable thead > tr > th.sorting_asc:before {
  opacity: 1;
}
#users_filter,
#vehicles_filter,
#transactions_filter {
  position: absolute;
  top: -128px;
  left: 2%;
}
#users_filter label,
#vehicles_filter label,
#transactions_filter label {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
#users_filter label :first-child,
#vehicles_filter label :first-child,
#transactions_filter label :first-child {
  width: 54rem;
  background: rgba(25, 100, 212, 0.1);
  border-radius: 32px;
  border-style: solid;
  border-color: rgba(25, 100, 212, 0.2);
  border-width: 1.5px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
#vehicles_wrapper {
  width: 94%;
}
.user-records:hover {
  cursor: pointer;
  transform: scale(1.01);
  background: #1964d45b;
}

.hidden {
  display: none;
}
